@import "mixin.scss";
@import "font.scss";
@import "variables.scss";

@media (min-width: 993px) {
  .footer{
    @include flex-col;
    height: 355px;
    padding: 0 20%;
    background-color:$color-black;
    justify-content: space-around;
  }
  .footer-heading{
    color: #FEFEFE;
    @include general-heading;
    line-height:2em ;

  }
  .icon-list{
    display: flex;

  }
  .icon-item{
    @include flex-center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    margin-left: 6px;
  }
  .icon-rss{
    border: 2px solid #F8902E;
  }
  .icon-f{
    border: 2px solid #39599F;
  }
  .icon-t{
    border: 2px solid #45B0E3;
  }

  .icon-d{
    border: 2px solid #D97AB0;
  }

  .icon-p{
    border: 2px solid #CC212C   ;
  }

  .footer-text{
    font-size: 1.5em;
    line-height: 2em;
    color:  #B9B9B9;
    text-align: center;

  }
  .footer-copyright{
    color: #B9B9B9;
    font-size:1.5em;
    line-height: 1.8em;
  }

}


@media (min-width: 481px) and (max-width: 992px){
  .footer{
    width: 100%;
    @include flex-col;
    height: 332px;
    background-color:$color-black;
    justify-content: space-around;
  }
  .footer-heading{
    margin-top: 107px;
    color: #FEFEFE;
    line-height:22px ;
    @include general-heading;
  }
  .icon-list{
    display: flex;

  }
  .icon-item{
    @include flex-center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    margin-left: 5px;
  }
  .icon-rss{
    border: 2px solid #F8902E;
  }
  .icon-f{
    border: 2px solid #39599F;
  }
  .icon-t{
    border: 2px solid #45B0E3;
  }

  .icon-d{
    border: 2px solid #D97AB0;
  }

  .icon-p{
    border: 2px solid #CC212C   ;
  }

  .footer-text{
    width: 684px;
    height: 44px;
    font-size: 16px;
    line-height: 28px;
    color:  #B9B9B9;
    text-align: center;

  }
  .footer-copyright{
    color: #B9B9B9;
    font-size:16px;
    line-height: 26px;
  }


}


@media (min-width: 320px) and (max-width: 480px) {
  .footer{
    @include flex-col;
    width: 100%;
    height: 315px;
    background-color:$color-black;
    justify-content: space-around;
  }
  .footer-heading{
    margin-top: 38px;
    color: #FEFEFE;
    @include general-heading;
  }
  .icon-list{
    display: flex;

  }
  .icon-item{
    @include flex-center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    margin-left: 6px;
  }
  .icon-rss{
    border: 2px solid #F8902E;
  }
  .icon-f{
    border: 2px solid #39599F;
  }
  .icon-t{
    border: 2px solid #45B0E3;
  }

  .icon-d{
    border: 2px solid #D97AB0;
  }

  .icon-p{
    border: 2px solid #CC212C   ;
  }

  .footer-text{
    width: 303px;
    height: 52px;
    font-size:12px;
    color:  #B9B9B9;
    text-align: center;

  }
  .footer-copyright{
    text-align: center;
    width: 235px;
    height: 63px;
    color: #B9B9B9;
    font-size:14px;
  }

}
