
@import "mixin.scss";
@import "variables.scss";
@import "font";

@media (min-width: 993px) {
  .header{
    @include flex-col;
  }

  .header-top-button-drop{
    display: none;
  }
  .top-menu{
    margin-top: 29px;
    width: 1170px;
    height: 55px;
  }

  .top-menu__links{
    list-style-type: none;
    @include flex-center;
    justify-content: space-around;
    margin: 0 179px;
    font-size: 11px;
    font-family: $font-Roboto;
  }

  .top-links{
    text-decoration: none;
    text-transform: uppercase;
    color: #4E4E4E;
  }
  .top-links:hover{
    color:$color-turquoise;

  }
  .header-bk-img{
    width: 100%;
  }

}


@media (min-width: 481px) and (max-width: 992px){
  .header{
    width: 100%;
    @include flex-col;
  }
  .header-top-button-drop{
    display: none;
  }
  .top-menu{
    width: 100%;
    margin: 29px 92px 0;
    height: 55px;
  }

  .top-menu__links{
    list-style-type: none;
    @include flex-center;
    justify-content: space-between;
    margin: 0 160px;
    font-family: $font-Roboto;
  }

  .top-links{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    color: #4E4E4E;
  }
  .top-links:hover{
    color:$color-turquoise;

  }
  .header-background{
    margin: 0 92px;
  }
  .header-bk-img{
    width: 100%;
  }


}


@media (min-width: 320px) and (max-width: 480px) {
  .header{
    @include flex-col;
  }
  .top-menu{
    width: 100%;
    position: relative;
    height: 37px;
    @include flex-col;
    margin-top: 23px;
  }
  .top-menu__links-drop{
    @include flex-col;
    position: absolute;
    list-style-type: none;
    width: 182px;
    height: 208px;
    background: #f5f5f5;
    top: 37px;
    right: 28px;
  }
  .top-item{
    width: 182px;
    height: 28px;
    display: flex;
    align-items: center;
  }
  .top-links:hover{
    color:$color-turquoise;

  }
  .top-links{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    color: #4E4E4E;
    font-family: $font-Roboto;
    margin-left: 13px;
  }

 .top-item:active{
   background: #B9B9B9;
 }

  .header-top-button-drop{
    position: absolute;
   right: 28px;

  }
  .menu-drop {
    width: 43px;
    height: 37px;
    background: rgba(0, 0, 0, 1);
    @include flex-col;
    justify-content: center;
  }
  .line-drop {
    height: 2px;
    background:$color-white;
    margin-top: 3px;
    border-radius: 2px;
  }
  .middle,
  .top,
  .bottom {
    width: 17px;
  }

  .closed-menu {
    width: 43px;
    height: 37px;
    background:$color-black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .closed-line {
    position: absolute;
    height: 2px;
    border: 2px solid $color-white;
    background: $color-white;
    width: 17px;
    border-radius: 2px;
  }
  .left {
    transform: rotateZ(45deg);
  }
  .right {
    transform: rotateZ(-45deg);
  }


  .header-background{
    display: flex;
    margin: 23px 28px 0 25px;
  }
  .header-bk-img{
    width: 100%;
  }
}
