@import "mixin.scss";
@import "font.scss";
@import "variables.scss";

@media (min-width: 993px) {
  .main{
    width: 100%;
    @include flex-col;
  }
  .recent-container{
    width: 100%;
    margin-top: 69px;
    @include flex-col;
    justify-content: center;
  }
  .general-heading{
    @include general-heading;
    margin-right: 65%;

  }
  .recent-block{
   @include flex-wrap;
    height: 355px;
    width: 1165px ;
  }
  .recent-item{
    display: flex;
    width: 585px;
    height: 140px;
    margin-top: 2%;
  }


  .recent-block-text{
    margin-left: 20px;
  }
  .recent-title{
    font-size: 16px;
    font-weight: bold;
  }
  .recent-info{
    font-size: 12px;
    margin-top: 11px;
  }
  .recent-text{
    font-size: 14px;
    margin-top: 13px;
    line-height: 23px;
  }


  .instagram-container{
    width: 100%;
    margin-top: 69px;
    background:$color-dark-grey;

  }
  .inst-heading{
    @include general-heading;
    display: flex;
    justify-content:space-between;
    margin: 2% 14% 1%;
  }

  .inst-block{
    @include flex-center;
    justify-content: center;
  }
  .inst-item {
    padding: 3px;
    width: 285px;
    height: 285px;
  }


}


@media (min-width: 481px) and (max-width: 992px){

  .main{
    width: 100%;
    @include flex-col;
  }
  .recent-container{
    width: 100%;
    height: 699px;
    @include flex-end;
    justify-content: center;
    margin-top: 60px;
  }
  .general-heading{
    @include general-heading;
    margin: 24px 80px 0;


  }
  .recent-block{
    @include flex-wrap;
    width: 555px;
    margin:24px 80px 0;
  }
  .recent-item{
    display: flex;
    width: 555px;
    height: 140px;
    margin-top: 2%;
  }

  .recent-block-text{
    margin-left: 20px;
  }
  .recent-title{
    font-size: 16px;
    font-weight: bold;
  }
  .recent-info{
    font-size: 12px;
    margin-top: 11px;
  }
  .recent-text{
    font-size: 14px;
    margin-top: 13px;
    line-height: 23px;
  }

  .instagram-container{
    width: 100%;
    height: 403px;
    background: $color-dark-grey;

  }
  .inst-heading{
    @include general-heading;
    display: flex;
    justify-content:space-between;
    margin: 46px 79px 0 82px;
  }

  .inst-block{
    @include flex-center;
    justify-content: center;
    margin: 35px 80px 0;
  }
  .inst-item {
  display: flex;
    padding: 2px;
  }
  .inst-img{
    width: 100%;
  }
  .inst-item:last-child{
    display: none;
  }


}


@media (min-width: 320px) and (max-width: 480px) {
  .main{
    width: 100%;
    @include flex-end;
  }
  .recent-container{
    width: 232px;
    height: 693px;
    @include flex-end;
    justify-content: center;
    margin: 38px 25px 0;

  }
  .general-heading{
    width: 170px;
    height: 22px;
    @include general-heading;

  }
  .recent-block{
    @include flex-wrap;
  }
  .recent-item{
    display: flex;
    flex-direction: column;
    margin-top:32px;
  }
  .recent-item:last-child{
    display: none;
  }

  .recent-img{
    width: 160px;
    height: 140px;
  }

  .recent-title{
    font-family: $font-Roboto;
    font-size: 14px;
    font-weight: bold;
  }
  .recent-info{
    margin-top: 11px;
    font-size: 11px;
    font-family: $font-Roboto;
  }
  .recent-block-text{
    margin-top: 11px;
  }
  .recent-text{
    display: none;
    font-size: 14px;
  }

  .instagram-container{
    @include flex-end;
    width: 100%;
    height: 403px;
    background: $color-grey;
    margin-top: 40px;

  }
  .inst-heading{
    display: flex;
    justify-content:space-between;
    margin: 38px 25px 0;
    @include general-heading;

  }
  .right-text{
    display: none;
  }

  .inst-block{
    @include flex-center;
    justify-content: center;
    margin: 13px 25px 0;
  }
  .inst-item {
    display: flex;

  }
  .inst-img{
    width: 100%;
  }
  .inst-item:nth-last-child(-n+3){
    display: none;
  }

}
