@import "font";

@mixin general-heading{
  font-weight: bold;
  font-size: 16px;
  font-family:$font-Roboto;
  text-transform: uppercase;
}

@mixin flex-col{
  display: flex;
  align-items: center;
  flex-direction: column;
}

@mixin flex-center{
  display: flex;
  align-items: center;
}
@mixin flex-wrap{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@mixin flex-end{
  display: flex;
  align-items: end;
  flex-direction: column;
}