
@import "mixin.scss";

@media (min-width:993px) {
    .wrapper {
        width: 1600px;
        height: auto;
        @include flex-col;
        padding: 5px;
        margin: 0 auto;
    }
}

@media (min-width:481px) and (max-width:992px) {
    .wrapper {
        width: 940px;
        height: auto;
        @include flex-col;
        padding: 5px;
        margin: 0 auto;
    }
}

@media (min-width:320px) and (max-width:480px) {
    .wrapper {
        width: 373px;
        height: auto;
        @include flex-col;
        padding: 5px;
        margin: 0 auto;
    }
}









