.main-block {
  img {
    width: 135px;
    width: 55px;
  }
  border-radius: 5px;
  border: 1px solid black;
  width: 600px;
  height: 200px;
  display: flex;
}

.ticket-info {
  display: flex;
  flex-direction: column;
  width: m;
}
.ticket-action {
  border-left: 1px solid $main-color;
}

.buy-btn {
  font-family: $font-main;
  color: white;
  margin-top: 10px;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  width: 160px;
  height: 30px;
  background: $button-color;
}
