.app {
  margin: 10vh auto;
  text-align: center;
  img {
    width: 130px;
    height: 130px;
  }
}

.wrapper {
  width: 1800px;
  display: flex;
  justify-content: center;
}

.tickets {
  display: grid;
  grid-template-columns: repeat(1fr, 560px);
}
