@mixin steam($height, $right) {
    position: absolute;
    width: 0.5vw;
    height: $height;
    background: #fff 7a;
    border-radius: 100%;
    right: $right;
    bottom: -5vw;
    animation: steam_rise 3s ease 0s infinite;
}

.steam {
    width: 100%;
    position: relative;

.steam {
&_1 {
     @include steam(3vw, 25%);
     opacity: 0;
 }
&_2 {
     @include steam(2vw, 50%);
 }
&_3 {
     @include steam(4vw, 70%);
 }
}
}
@keyframes steam_rise {
    0% {
        opacity: 0.4;
    }
    25% {
        opacity: 0.7;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        bottom: 10px;
        opacity: 0.2;
    }
}
