html,
body {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Verdana;
    font-size: 14px;
    line-height: 1.4em;
    position: relative;
    min-height: 100%;
}

.header {
    background: #e35c14;
    padding: 10px 20px;
    height: 80px;
}

.main {
    padding: 12px 0;
}

.footer {
    background: #131919;
    color: #fff;
    padding: 10px 0;
}

.footer p {
    font-size: 0.8em;
    text-align: center;
}

.container {
    position: relative;
    padding: 0 6px;
    max-width: 960px;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 250px;
        grid-template-areas:
      "content top"
      "content bottom"
      "content .";
        gap: 15px;
    }
    .content {
        grid-area: content;
    }
    .banner.top {
        grid-area: top;
        /* justify-self: stretch; */
    }
    .banner.bottom {
        grid-area: bottom;
    }
    /* .banner {
      grid-area: banner;
    } */
}
@media screen and (min-width: 1260px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-areas: "top content bottom";
    }

    .banner.top {
        grid-area: top;
    }
    .banner.bottom {
        grid-area: bottom;
    }
}
.content {
    background: #c1e1ed;
    padding: 20px;
}
.banner {
    background: #76c7c6;
    height: 200px;
}
