@import 'mixin';
@import 'reset';
@import 'vars';

@media (min-width:1200px) {
  .wrapper{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    @include flex-column;

  }
  .header{
    width: 100%;
    background-image: url("../img/background/img1.png");
    height: 800px;
    @include background;
    @include flex-column;
  }
  .header-top{
    height: 100px;
    @include space-between;
    margin: 0 100px;
  }
  .header-top-logo{
    @include flex-center;
  }
  .header-top-menu{
    @include space-between;
    color: $text-color1;
  }
  .menu-item {
    margin: 0 48px;
  }
  .header-middle{
    @include flex-column;
    color: $text-color1;
    margin: 121px 333px 0;
    text-align: center;
    line-height: 19px;
  }
  .header-button{

  }
}

@media (max-width:720px) {
/*  .wrapper{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    line-height: 19px;
  }
  .header{
    @include flex-center;
    background-image: url("../img/background/img1.png");
    height: 800px;
    @include background;
  }
  .header-top{
    height: 100px;
    width: 100%;
    @include space-between;
  }
  .header-top-logo{
    @include flex-center;
  }
  .header-top-menu{
    @include space-between;
  }*/
}