@import 'mixin';
@import 'reset';
@import 'vars';

@media (min-width:1200px) {
  .wrapper{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    @include flex-column;

  }

  .people-container{
    width: 100%;
    background-image: url("../img/background/testmonials-bg1.png");
    height: 769px;
    @include background;
    @include flex-column;
    align-items: center;
  }
  .people-heading{
    margin-top: 108px;
  }
  .list-company{
    @include grid;
    margin: 81px 80px 0;
    grid-gap: 43px;
  }
  .list-company-item{
   color: #FFFFFF;
  }
  .people-container-text{
    font-size: 14px;
    text-align: center;
    margin: 157px 247px 0;
    color: #A291A5;
  }
}
@media (max-width:768px) {
  .wrapper{
    width: 768px;
    height: auto;
    margin: 0 auto;
    @include flex-column;

  }

  .people-container{
    width: 100%;
    background-image: url("../img/background/testmonials-bg1.png");
    height: 882px;
    @include background;
    @include flex-column;
    align-items: center;
  }
  .people-heading{
    margin-top: 108px;
  }
  .list-company{
    @include grid1;
    margin: 81px 80px 0;
    grid-gap: 43px;
  }
  .list-company-item{
    color: #FFFFFF;
  }
  .people-container-text{
    font-size: 14px;
    text-align: center;
    margin: 157px 247px 0;
    color: #A291A5;
  }
}
