@import 'vars';

@mixin space-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin background{
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin simple-text {
  color: $text-color;
}
@mixin grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
}
@mixin grid1{
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
}
@mixin flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-column{
  display: flex;
  flex-direction: column;

}
