body {
    font-family: "Myriad Pro", sans-serif;
}

.container {
    padding: 0 12px;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}

.logo-text {
    color: #000;
    font-size: 80px;
    font-weight: 400;
}

.page-header {
    margin-top: 60px;
}

.logo-blue-text {
    color: #4bcaff;
}

.menu-top {
    background-color: #35444f;
    text-align: center;
    margin: 45px 0 51px;
}

.menu-top-item {
    display: inline-block;
    border: 1px solid transparent;
    padding: 20px 40px;
}

.menu-top-link {
    color: #fff;
    font-size: 24px;
}

.menu-top-item:hover {
    background-color: #222f3a;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.navbar-item:hover {
    background-color: #dcdcdc;
    padding-left: 70px;
}

.menu-and-ram {
    margin-top: 50px;
}

.navbar {
    /* width: 344px; */
    /* float: left; */
    border: 1px solid black;
}

.main-content {
    display: inline-block;
}

.navbar-item {
    padding: 30px 43px;
}

.navbar-link {
    color: #485863;
    font-size: 27px;
}

.img-wrapper {
    border: 1px solid black;
}

.page-description {
    /* width: 870px; */
    margin-top: 30px;
    color: #2c2b2b;
    font-size: 18px;
    line-height: 24px;
}

.footer {
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: #b5b8bb;
}

.footer-menu {
    height: 70px;
    padding-top: 20px;
}

.footer-menu-item {
    display: inline-block;
    margin-left: 30px;
    padding-bottom: 3px;
}

.footer-menu-link {
    color: #0c1927;
    font-size: 28px;
}

.copyright-text {
    color: #010101;
    font-size: 24px;
    padding-right: 30px;
}

.footer-menu-item:hover {
    border-bottom: 1px solid #3181a6;
}

.footer-menu-item:hover .footer-menu-link {
    color: #3181a6;
}

.main-image {
    max-width: 100%;
    max-height: 100%;
    transition: all 1s ease-out;
}

.main-image:hover {
    transform: scale(1.1);
}

.img-ram-block {
    text-align: center;
}
.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-and-ram .container {
    display: grid;
    grid-template-columns: 345px 1fr;
    gap: 50px;
}

/* Burger */
.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.menu-btn__burger {
    width: 50px;
    height: 6px;
    background-color: #35444f;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    background: #35444f;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
    transform: translateY(-16px);
}
.menu-btn__burger::after {
    transform: translateY(16px);
}

.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}
.menu-top {
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    transition: transform ease-in-out 0.4s;
    overflow: hidden;
    position: absolute;
    left: 0;
    z-index: 99999;
    margin-top: 0;
}
.menu-top.active {
    /* display: block; */
    transform: translateX(0);
}
@media screen and (min-width: 768px) {
    .menu-btn {
        display: none;
    }

    .menu-top {
        display: block;
    }
}
